[run]
branch = True

source =
    aoc
    day1
    day2
    day3
    day4
    day5

[report]
omit =
    */__main__.py
    */typing.py
    */test*.py

exclude_lines =
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
