[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
nose = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
mypy = "*"

[packages]
lib = {editable = true,path = "./lib"}
